body {
  background-image: url("../images/background.png");
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}

.topnav {
  overflow: hidden;
  float: right;
  padding-right: 50px;
  padding-top: 25px;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  width: 125px;
}

.topnav a:hover {
  background-color: #ffffff;
  color: #000000;
  border-radius: 15px;
}

.topnav a.active {
  border-top: 3px solid white;
}

.topnav a.active:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  border-radius: 0px;
}

.float-container {
  display: inline-block;
  padding: 10px;
  margin-left: 100px;
}

.float-child {
  width: 45%;
  padding: 0 20 20 20;
  text-align: center;
  float: left;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.card-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.card {
  width: 300px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.front-face {
  backface-visibility: hidden;
}

.front-face img {
  width: 100%;
  border-radius: 10px;
}

.back-face {
  backface-visibility: hidden;
  background: linear-gradient(325deg, #020024 0%, #090979 35%, #00d4ff 100%);
  color: #fff;
  padding: 15px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: rotateY(180deg);
}

.back-face h2 {
  font-size: 24px;
  margin-top: 10px;
  font-weight: 600;
}

.back-face p {
  font-size: 16px;
  font-weight: 300;
}

.social-media i {
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  background: #000A4A;
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px 6px;
}

.social-media i:hover {
  color: #000A4A;
  background: #fff;
  border: 2px solid #000A4A;
}

.card:hover .card-inner {
  transform: rotateY(-180deg);
}

.face-button {
  height: 40px;
  display: inline-block;
  border: 3px solid #e43;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #e43;
  overflow: hidden;
  margin-top: -1px;
  margin-left: 10px;
}

.face-button .icon {
	margin-right: 6px;
}

.face-button .face-primary,
.face-button .face-secondary {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    transition: margin .4s;
}

.face-button .face-primary {
    background-color: #e43;
    color: #fff;
}

.face-button:hover .face-primary {
    margin-top: -40px;
}

.contact-container {
	width: 550px;
	height: 420px;
	display: flex;
	background: rgba(255,255,255,0.75);
	padding-top: 20px;
	margin-left: 150px;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.contact-container .contact-info {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.contact-container .contact-info .contact-box{
	position: relative;
	padding: 20px 0;
	display: flex;
}

.contact-container .contact-info .contact-box .contact-icon {
	width: 40px;
	height: 40px;
	background: #000A4A;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 18px;
	margin-top: 5px;
}

.contact-container .contact-info .contact-box .contact-text {
	display: flex;
	margin-left: 20px;
	font-size: 18px;
	color: #000A4A;
	flex-direction: column;
	font-weight: 600px;
	text-align: left;
}

.contact-container .contact-info .contact-box .contact-text h3 {
	font-weight: 700px;
	padding: 0;
	margin: 0;
}

.contact-container .contact-info .contact-box .contact-text p {
	padding: 0;
	margin-top: 5px;
}

.contact-container .contact-info .contact-box .contact-text a {
	text-decoration: none;
	color: #000A4A;
}

.contact-container .contact-info .contact-box .contact-text a:hover {
	color: #0070CF;
}

.contact-form {
	width: 90%;
	margin: 0;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	background: #fff;
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
}

form h3 {
	color: #555;
	font-weight: 800;
	margin-bottom: 20px;
}

form input, form textarea {
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;
	font-size: 16;
}

form button {
	padding: 15px;
	background: #e43;
	color: #fff;
	font-size: 18px;
	outline: none;
	border: 0;
	cursor: pointer;
	width: 150px;
	margin: 20px auto 0;
	border-radius: 30px;
}